@import "theme";
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
  margin: 0px;
  font-family: $title-font;
  background-color: $bg-color;
}

#app{
  background-color: $bg-color;
}

#flex-card {
  display: flex;
}
// #Menu{
//   // border-bottom: 1px outset $border-color;
//   // border-radius: 5px;
//   height: 40px;
//   max-width: 100%;
//   display: flex;
//   flex-direction: row;
//   padding: 10px;
//   border-bottom: 1px solid white;
//   // justify-content: space-between;
// }
#mainContainer{
  display: flex;
  flex-direction: row;
}
#graphContainer{
  background-color: $graph-container-bg-color;
  width: calc(100vw - #{$side-bar-width});
}
#sidePanel{
  width: $side-bar-width;
  word-wrap: break-word;
  border-left: 2px outset $side-panel;
  // border-radius: 5px;
}
#sidePanel p{
  padding-left:10px;
  font-size: 10px;
  color: $light-font-color;
}
#refresh{
  position: relative;
  background-color: white;
  height: 36px;
  width: 50px;
  border-radius: 5px;
  margin: 10px;
  border: 2px solid #6a9adc;
}

#refreshimg{
  height:30px;
  width:30px;
}

#loading img{
  margin-top: 45vh;
  margin-left: 50%;
  margin-right: 50%;
  margin-bottom:30%;
}
h1, h2, h3, h4{
  color: $light-font-color;
}
.nodeInfo{
  max-width: 100%;
  max-height:500px;
  overflow-y: scroll;
}
.react-json-view{
  overflow-y: scroll;
  overflow-x: scroll;
  max-width: 100%;
  max-height: 80vh;
}
#details-header{
  text-align: center;
  background-color: dodgerblue;
  margin-right: 10px;
  border: 2px solid slategrey;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 20px;
}
#details-header h4{
  padding: 0px;
  margin: 0px;
}
#select-menu{
  width: 200px;
  margin: 10px 10px;
}

#s3_bucket_name{
  margin: 10px auto 10px 53px;
}

#input-node{
  margin: 10px auto 10px 60px;
  height: 3vh;
}

#node_drop{
  height: 6vh;
  width: 5vw;
  margin: 20px auto 10px 80px;
}

#select-node{
  margin: 10px auto 10px 60px;
}

#select-img{
  height: 6vh;
  margin-left: 20px;
}

#instance{
  height: 5vh;
  /* margin-right: 5px; */
  /* width: 12vw; */
  margin: 20px auto 10px 60px;
  /* width: 13vw; */
}

#delete_button{
  display: flex;
  flex-direction: column;
}

#deleteButton{
  height: 4vh;
  /* margin-left: 10px; */
  background: #d4c4e2;
  color: black;
  font-size: 12px;
  /* font-weight: bold; */
  border-radius: 5px;
  /* border: 2px solid #d4c4e2; */
}

#welcome_card{
  margin: 103px auto 10px 85px;
}

#createInstance, #deleteInstance{
  font-family: 'Montserrat', sans-serif;
  height: 40px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
}

#createInstance{
  margin-right: 10px;
  border: 2px solid #5d80ad;
  background: #5d80ad;
  color: white;
}

#select_node{
  color: black;
}

#close_button{
  margin: 0 auto 10px 230px;
  border: none;
}

#close{
  height: 3vh;
}

#instance_id{
  margin-left: 20px;
  font-weight: bold;
}

#form_modal{
  margin: 10px auto 10px 15px;
}

#deleteInstance{
  background: #d4c4e2;
  color: black;
  border: 2px solid #d4c4e2;
}

#instanceButton{
  margin: 10px;
}

#launch, #delete{
  height: 1vh;
  margin-right: 1vw;
}

#mira-description{
  color: white;
  font-style: italic;
  margin-left: 40px;
  margin-top: 18px;
  font-family: 'Montserrat', sans-serif;
}

#key_pair{
  margin-top: 20px;
}

#key_input{
  margin-left: 10px;
  height: 3vh;
}

#welcome_to{
  color: white;
  font-family: Calibri;
  font-size: 1.7em;
  margin-bottom: 1.7vh;
}

#side-panel-welcome{
  color: $light-font-color;
  text-align: center;
  margin-top: 50%;
}
.Collapsible{
  background-color: $light-font-color;
}

.Collapsible__contentOuter{
  background-color: $graph-container-bg-color;
}

.Collapsible p{
  color: $light-font-color;
}

.Collapsible__trigger {
  padding-left: 10px;
  padding-top:5px;
  padding-bottom:5px;
}

.sidebar-title{
  font-weight:bold;
}

#person{
  height: 2vh;
  margin-right: 7px;
}

#bucket_name_S3{
  display: flex;
  margin: 10px auto 10px 53px;
}

#bucket_S3{
  margin: 10px auto 10px 53px;
}

#create_instance{
  display: flex;
  margin: 10px auto 10px 53px;
}

#create_button{
  width: 60%;
    height: 5vh;
    font-size: .8em;
    border-radius: 6px;
    margin: 10px auto 10px 53px;
    border: 2px solid #5d80ad;
    background: #5d80ad;
    color: white;
}

#key__pair{
  text-align: center;
  font-weight: bold;
}

::placeholder {
  color: white;
}

#logout_text{
  font-size: 1em;
  color: white;
  margin: 10px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

#logout{
  position: relative;
  /* margin-left: 530px; */
  height: 36px;
  border: 1px solid #1b1b1b;
  width: 90px;
  background-color: white;
  border-radius: 5px;
}

#loginContainer{
  border: 1px solid white;
  width: 60%;
  background-color: #1b1b1b;
  height: 90vw;
}

#welcome{
  background-color: #5073a8;
  width: 67%;
  padding-top: 12%;
}

#input_node{
  margin: 10px auto 10px 20px;
  width: 14vw;
  height: 3vh;
}

#input_keys{
  height: 80%;
  display: flex;
  flex-direction: column;
  margin: 200px auto 20px 30px;
  color: white;
}

#login_keys{  
  display: flex;
}

#accessKeys{
  height: 40px;
  margin: 4% auto 6% 8%;
  color: white;
  font-size: 1em;
  background: #1b1b1b;
  width: 36vw;
  font-weight: bold; 
  border: none;
  border-bottom: 1px solid white;
}

#login_button{
  width: 37%;
  height: 4.7vw;
  border-radius: 1.5vw;
  font-size: 1em;
  margin: 20px auto 20px 110px;
  font-weight: bolder;
  /* border-color: #6a9adc; */
  border-color: #121212;
  color: #252525;
  background-color: #75a2e6;
}

#keys{
  height: 2vw;
  margin-right: 8px;
}
#keys_label{
  font-size: 1.2em;
  font-weight: bolder;
  margin-right: 8px;
  height: 18px !important;
  margin: 10px auto 10px 40px;
}

#small_logo{
  height: 100%;
}

#top-menu{
  height: 40px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  background-color: $top-menu;
}

#region_image{
  margin-top: 20px;
}

#region_area{
  display: flex;
}

#bottom-menu{
  height: 50px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px;
  border-bottom: 1px solid white;
  font-family: 'Montserrat', sans-serif;
}

